@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-text {
    background: linear-gradient(171deg, #fff 0%, rgba(117, 122, 140, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer utilities {
  .bg-gradient-dark {
    background: linear-gradient(157deg, rgba(6, 11, 38, 0.94) 0%, rgba(26, 31, 55, 0) 100%);
  }
}